[2022-09-06 20:14] jonathanwburr opened #5 "Need social account URLS"

[2022-09-06 20:14] jonathanwburr opened #6 "Need email for form notifications"

[2022-09-06 20:15] jonathanwburr opened #7 "Need Jobs, Privacy, Terms and Conditions page content"

[2022-09-06 20:15] jonathanwburr opened #8 "DAB Selector"
Interactivity is not fully functional yet. It’s partially working to get an idea of where we’re heading.

[2022-09-06 20:16] jonathanwburr opened #9 "Add to cart"
Still in production

- [x] Loading message when adding to the cart: When adding a DAB to the cart, there is a momentary "Please wait while we add this DAB to your shopping cart." modal window. This needs some design applied to it.

- [x] Properly pass all data for the tile to be displayed in the cart and checkout

- [x] Generate the tile image when the DAB is added to the cart

- [ ] Jenny creatin

[2022-09-06 20:16] jonathanwburr opened #10 "Add to favorites"
still in production

[2022-09-06 20:37] tbeck commented on #10
https://gyazo.com/fdd048e01dada53591693d06fe38c9c6

- [ ] Button should be available for users that are authenticated
- [ ] Unauthenticated users should be directed to either login or create an account

[2022-09-06 20:38] tbeck commented on #7
@ZiggyAtl - Just flagging you on this issue for visibility.

[2022-09-06 20:39] tbeck commented on #6
@ZiggyAtl - Flagging you on this issue for visibility.

[2022-09-06 20:39] tbeck commented on #5
@ZiggyAtl - Adding you here for visibility.

[2022-09-07 02:03] ZiggyAtl opened #11 "Home page"
All the images created for the pitch deck were really colorful, including the logo. That was one of the things we liked the best. I'm not sure about the home page as the website is just black and white when it opens, it doesn't have that colorful punch. I think it would look more impactful if that background was various colors than just black and white. And I prefer the colored CoMission logo rath

[2022-09-07 02:11] ZiggyAtl opened #12 "Change on benefits page"
https://comission-shopify-hydrogen-ocupop.vercel.app/pages/benefits

Under the Community and Connection section, change the title of the right hand benefit to Virtual Meetups, and alter wording to “Meet your tribe online in community groups and metaverse meetups. Maybe even meet an artist or curator along the way.”

[2022-09-07 02:23] ZiggyAtl opened #13 "How It Works page"
https://comission-shopify-hydrogen-ocupop.vercel.app/pages/how-it-works

- [x] At end of first segment change 'efforts' to 'work'

- [x] Change the second paragraph to begin with “Together with our partner Museums and Artists, we select….”

- [x] In the Connecting with Your Artwork section, there is the phrase "The full list of benefits is available here....." but there is no hyperlink there

- [x

[2022-09-07 02:49] ZiggyAtl opened #14 "For Museums page"
https://comission-shopify-hydrogen-ocupop.vercel.app/pages/for-museums#process

When I clicked on the blue triangle below the ‘Learn about the CoMission process” it wrongly took me all the way down to the bottom to the ‘hear what people say’ section. However when I went back to it, nothing happened when I clicked the triangle.

Do we need that phrase and triangle or just go to the Created for You

[2022-09-07 02:57] ZiggyAtl opened #15 "Individual museum page"
https://comission-shopify-hydrogen-ocupop.vercel.app/collections/the-beath-museum

On the museum pages, all the text of the museum bio is in one block. It should show MISSION as a heading then the text underneath, then ABOUT as a section heading under that, and that text under the heading

where it lists the museum + CoMission, use this text underneath. "Creating the next generation of art lovers

[2022-09-07 03:04] ZiggyAtl opened #16 "The "See Artworks' page"
https://comission-shopify-hydrogen-ocupop.vercel.app/products

- [x] How does the carousel work when there are more than 2 pieces on? At the moment it just has two pieces which can be selected between

- [x] The filters need adding, to help the user narrow down their artwork choice.

- [x] If I click one of the artworks on the carousel and bring it to the front, there isn’t then a hyperlink on the

[2022-09-07 03:07] ZiggyAtl opened #17 "The individual artwork page"
https://comission-shopify-hydrogen-ocupop.vercel.app/products/sample-image-1?select%2520a%2520date%2520range=sample%2520art%2520work%25202%253A%252026x26

Should say ‘Membership expires 2024-12-31'

[2022-09-07 17:15] tbeck commented on #17
@jonathanwburr - Can you also update the date formatting to match design intentions?

https://xd.adobe.com/view/89d6dd8d-edee-4084-9682-4715dc4ce315-dc85/screen/d5c18f65-8862-47e0-9d17-07233b5070fb

Thanks!

[2022-09-07 18:24] tbeck opened #19 "Update note for each example art"
Line 16
https://docs.google.com/spreadsheets/d/1tJNNj5aFZVNk7tcfa89u3oHOsrLXZ9yO/edit#gid=474089095

That Illustrious Feeling
https://comission-shopify-hydrogen.vercel.app/products/that-illustrious-feeling?title=that%2520illustrious%2520feeling%253A%252040x40

Heels Out
https://comission-shopify-hydrogen.vercel.app/products/heels-out?title=heels%2520out%253A%252040x60

@ZiggyAtl - Can you provide

[2022-09-07 19:31] tbeck commented on #19
Thanks!

[2022-09-07 21:45] tbeck opened #21 "Sharing DAB purchases on specific social media channels"
**From Bill:**
I was wondering if everything has been thought through and taken in to account in terms of linking our product with users' social media platforms? Initially the requirement will be pretty simple as they will have just their certificate or DAB to post. Is that going to be a straight forward thing for them to do from their various devices?

[2022-09-07 21:49] tbeck commented on #21
@ZiggyAtl - Can we confirm social media channels? I am assuming that it would be Twitter and Facebook to begin with?

@jennyvanderheiden - Can you adjust the order detail page design to accommodate for social icons and a "share" message?
https://xd.adobe.com/view/c43d3fbc-1701-492c-b37e-e66f529f8fa8-916e/screen/39d5a3f3-f649-43f3-bfb3-a3142f118473/

[2022-09-07 21:59] jennyvanderheiden commented on #21
I have updated the layout to include that on the link above - will work on a social share image next

[2022-09-08 01:22] ZiggyAtl commented on #19
The write ups for the artworks and the artists are still mixed up. You need to read the write up (which references the artists) and then match the correct artist with the write up. Also you'll see in Heels Out where there's a [BOX TO INSERT ARTWORK NAME]

[2022-09-08 01:28] ZiggyAtl commented on #17
This issue is fixed when I go in to the actual artwork page, but when I select the artwork on the carousel it has the same problem (doesn't say membership and the date format is incorrect)
![Screen Shot 2022-09-07 at 9 27 06 PM](https://user-images.githubusercontent.com/112654923/189013332-ae3c577e-692c-443a-8f06-61accc332989.png)

[2022-09-08 01:29] #15 closed

[2022-09-08 01:37] ZiggyAtl commented on #14
The'click here' link now works, however on the page it takes me to, the animation doesn't stay in place while the rest of the page scrolls down.

[2022-09-08 01:42] ZiggyAtl commented on #13
This is a design question for Jenny. There seems to be a lot of white space in between the 5 paragraphs explaining how it works. Could they be reduced 'slightly' (maybe 25%)?

[2022-09-08 01:45] ZiggyAtl commented on #12
I noticed an inconsistency in the headings. They are all lowercase apart from the first word. Therefore please make the A in Amazing lower case, and the M in Museum

[2022-09-08 01:47] #11 closed

[2022-09-08 01:51] ZiggyAtl commented on #21
Social would be Twitter, Facebook and Instagram. Instagram is by far the most important.

[2022-09-08 16:37] paulstroot commented on #19
I just fixed this. Just had the artists swapped for the artworks.

[2022-09-08 16:40] paulstroot commented on #16
I swapped the artists so the correct artist should now be assigned to the correct piece of art.

[2022-09-08 16:46] tbeck opened #24 "Add filter logic"
@ZiggyAtl - We have logic to hide filters until a specific number of products are available.

For now this is hidden on staging site.

<img width="916" alt="Screen Shot 2022-09-08 at 9 46 06 AM" src="https://user-images.githubusercontent.com/242469/189179466-e03a751a-572b-468a-9081-5a11e4bfe206.png">

[2022-09-08 16:54] tbeck opened #25 "Manage DAB selector using URL params"
Example URL: https://comission-shopify-hydrogen-ocupop.vercel.app/products/heels-out?dab=open

[2022-09-08 17:00] tbeck opened #26 "Tighten up white space on how it works page"
This is a design question for Jenny. There seems to be a lot of white space in between the 5 paragraphs explaining how it works. Could they be reduced 'slightly' (maybe 25%)?

_Originally posted by @ZiggyAtl in https://github.com/ocupop/comission-shopify-hydrogen/issues/13#issuecomment-1240119757_

[2022-09-08 17:01] tbeck commented on #13
@ZiggyAtl - Opened new issue so we can close this one if the changes @jonathanwburr pushed are good?

[2022-09-08 17:02] paulstroot opened #27 "Loading message when adding to cart needs design"
When adding a DAB to the cart, there is a momentary "Please wait while we add this DAB to your shopping cart." modal window. This needs some design applied to it. Working on it ~Paul

[2022-09-08 17:03] tbeck commented on #8
Currently working on this in the Museum Application as well.
https://github.com/ocupop/comission-application

[2022-09-08 17:18] paulstroot opened #28 "Properly assign the initial unavailable DABs"
The maximum number of tiles can be set when the artwork product is created. Currently, for development, these tiles are randomly distributed each time the page loads. This random distribution should be consistent each time the DAB selector loads.

For discussion: When will these initially unavailable tiles be released? Should 1 tile be released each time an available DAB is purchased? Or should al

[2022-09-08 17:24] paulstroot opened #29 "Checkout and Order Complete Process"
- [x] Pass all data for display from the product to the order details in Shopify
- [x] Properly display all details on the order summary page

Moved the following items too their own issues.
~~Generate the PDF Certificate on order completion. once the certificate has been completed, mark the order as "fulfilled"
Conditionally display message on order details, "generating your certificate" or "view

[2022-09-08 17:32] jonathanwburr commented on #12
@ZiggyAtl I updated the titling

[2022-09-08 17:41] #26 closed

[2022-09-08 17:42] tbeck opened #31 "Email capture pop-up"

[2022-09-08 17:49] tbeck opened #32 "Design: Certificate (Desktop)"

[2022-09-08 17:59] tbeck opened #33 "Customer reviews"
@jennyvanderheiden
Flagging this as a point of strategic and design discussion.

[2022-09-08 18:06] tbeck commented on #32
Mobile design: https://xd.adobe.com/view/c43d3fbc-1701-492c-b37e-e66f529f8fa8-916e/screen/c844c853-b751-48bc-b527-d3b38a9b3b4d/

[2022-09-08 18:08] tbeck commented on #32
@jennyvanderheiden - flagging this for you that we are shooting to have this implemented prior to next week's demo.

[2022-09-08 18:35] jonathanwburr commented on #17
@ZiggyAtl I've updated the wording and date formatting for membership expiry in the artwork details when viewing from the mosaic artwork view

[2022-09-08 18:38] #17 closed

[2022-09-08 18:45] #12 closed

[2022-09-08 18:47] #14 closed

[2022-09-08 18:48] #13 closed

[2022-09-08 19:02] ZiggyAtl commented on #16
Even though I've closed this one out I am assuming that the filters will be brought back once there is more art, as per our conversation just now.

[2022-09-08 19:04] ZiggyAtl commented on #16
Reopening as I forgot the issue about having to select the DAB twice was still open. Ticked off the other aspects

[2022-09-08 19:07] ZiggyAtl commented on #24
OK thanks. A reminder that the filter categories in the example above are incorrect. We will want to filter by artist, artwork title, museum and location (state) initially, and down the line by feature/benefit. I'm assuming this will get addressed once you get to work on the filters.

[2022-09-08 19:08] #19 closed

[2022-09-08 19:18] paulstroot commented on #27
@jennyvanderheiden - My thoughts were that instead of throwing up a modal window, I could replace the "select your DAB" button with a spinner, and a small message next to it saying "generating your DAB".

[2022-09-08 19:22] ZiggyAtl opened #35 "The smallest typo possible"
https://comission-shopify-hydrogen-ocupop.vercel.app/pages/our-mission

In the black box at the end of this page, the last word has two periods after it

[2022-09-08 19:43] paulstroot opened #36 "Cart drawer doesn't scroll"
@jonathanwburr - If the cart drawer has multiple items in it so that extends beyond the bottom of the screen, it does not scroll vertically.

[2022-09-08 20:21] tbeck opened #37 "Gifting Feature"
From Bill:

There was something I forgot to ask on the call. One of the marketing angles we’ll be using is to position a DAB as a unique gift for someone. So what would be our options in that instance if someone bought a DAB for someone else? Can someone buy a DAB and transfer it to someone else’s account, or maybe put it in to an account that the recipient can claim? Pls let me know what you thin

[2022-09-08 20:51] ZiggyAtl opened #38 "Mobile DAB certificate"
https://xd.adobe.com/view/c43d3fbc-1701-492c-b37e-e66f529f8fa8-916e/screen/c844c853-b751-48bc-b527-d3b38a9b3b4d/

At the top of the certificate please can you close up the gap slightly between the logo and the word CoMission

[2022-09-08 21:08] jennyvanderheiden commented on #27
I like that idea - I think that works really nice.

[2022-09-09 01:49] ZiggyAtl opened #39 "User account"
https://comission-shopify-hydrogen-ocupop.vercel.app/account

I was able to set up a new user account, which is great! I do have a couple of questions / things to address

- [x] The design of what I saw when I entered didn't feel very appealing / polished. Is that still a work in progress?
- [x] It lists an Address book, and I'm not sure what that's in there for?
- [x] When I went to update my pho

[2022-09-09 15:58] paulstroot opened #40 "Order confirmation page"
After completing an order, the user is taken to the order confirmation page on comission-art-myshopify.com. There are no links on this page to return to the website, I need to hit the back button to return. Do we have the ability to customize this?

[2022-09-09 17:49] jennyvanderheiden commented on #32
Hey all - this is what I was thinking for the [desktop certificate](https://xd.adobe.com/view/c43d3fbc-1701-492c-b37e-e66f529f8fa8-916e/screen/01f4bf86-c38d-4d76-bd84-6e1abcc5c69f/)

- let me know what you think!

[2022-09-09 17:52] tbeck commented on #32
@ZiggyAtl - Just tagging you here for visibility. We will begin implementing this certificate flow like we mentioned in yesterday's call, but feel free to add any feedback based on Jenny's comp:
https://xd.adobe.com/view/c43d3fbc-1701-492c-b37e-e66f529f8fa8-916e/screen/01f4bf86-c38d-4d76-bd84-6e1abcc5c69f/

[2022-09-09 18:55] ZiggyAtl commented on #32
Thanks for that. A couple of thoughts on the certificate, although I'm sure you already have these. It needs to be in a format that would print well (in case someone wanted to print it landscape on US letter). It needs the CoM branding / logo on there, and the museum logo. It doesn't need the tax info on there (ie the statement that it is tax deductlble) although the section that says where the mo

[2022-09-09 22:10] paulstroot commented on #9
I've added a spinner to replace the "Select your DAB" button while the site is working. Jenny said that she would work on creating a custom spinner graphic for comission.

I have staged these updates on development and just need to test properly before pushing to the staging site. Jon and Tom, please let me know if you encounter any issues with adding to the cart.

[2022-09-09 22:11] paulstroot commented on #16
I have an updated staged on development that will allow the DAB selector to open up from anywhere on the site. Just need to test before pushing up to staging.

[2022-09-09 22:17] paulstroot commented on #25
I found a solution to open the DAB selector without needing to use URL parameters. This can be closed.

[2022-09-09 22:21] paulstroot commented on #40
I noticed just now a "return to site" link. Maybe I overlooked this before.

[2022-09-09 22:21] #25 closed

[2022-09-09 22:23] jonathanwburr commented on #40
@paulstroot I added that link today, we may need to update the url to our staging instance, but figured out how to add a link

[2022-09-09 22:25] paulstroot commented on #27
![image](https://user-images.githubusercontent.com/52838369/189453790-9568a3fe-24a8-4224-9fb6-60fabe3e1bd4.png)

This is my current solution. @jennyvanderheiden please feel free to advise design updates.

[2022-09-10 20:40] jonathanwburr commented on #36
@paulstroot this one should be resolved. Closing the issue

[2022-09-10 20:40] #36 closed

[2022-09-10 20:41] paulstroot commented on #29
First two items have been checked off with the latest update.

[2022-09-11 18:44] #35 closed

[2022-09-11 18:57] ZiggyAtl opened #44 "Logo in top left"
Apple is scanning the text in the logo, and allowing it to be selected. Need to put tag on image saying do not scan this image, its a logo

[2022-09-11 19:01] ZiggyAtl opened #45 "Museum partners page"
On this page...  https://comission-shopify-hydrogen-ocupop.vercel.app/pages/museum-partners

Please can you change the call to action button at the end (in the black section) to Learn More and link it to this page
https://comission-shopify-hydrogen-ocupop.vercel.app/pages/for-museums

[2022-09-11 19:04] ZiggyAtl opened #46 "Infor page for museums"
https://comission-shopify-hydrogen-ocupop.vercel.app/pages/for-museums

The link which says See All Partner Museums goes to a dead link

[2022-09-11 19:17] ZiggyAtl opened #47 "Call to action buttons"
Home page, How it works, Benefits,

The above pages are quite long and do not have a call to action at the bottom, and if someone has scrolled all the way down, especially on mobile, there is nothing to direct them further. Therefore please can you add a blue button with white lettering at the bottom of each, saying 'Explore our artwork' which links to this page
https://comission-shopify-hydrogen-

[2022-09-11 20:13] ZiggyAtl opened #48 "Select your DAB"
Wherever it appears, the 'Select your DAB' wording/link is obviously a major call to action. Can we therefore highlight it a bit more than it is now? Rather than it just being blue wording, could it be a blue box with white lettering?

[2022-09-11 20:35] ZiggyAtl opened #49 "FullStory"
Please can you connect my FullStory account with the website, so I can use it to track users visits around the site.

In case you need to get in to my account to do that, the user name is bill@comission.art and the password is
mutpEk-9koxty-dagmiw

I was told that there may even be a function in Shopify to just "Implement Full Story' and it automatically does it.

[2022-09-11 20:37] ZiggyAtl opened #50 "Copyright"
Please can you update the copyright statement at the bottom of each page to say;
© CoMission Corp 2022 | All Rights Reserved

[2022-09-11 20:38] ZiggyAtl opened #51 "Favicon"
Please change the favicon to the CoMission logo

[2022-09-11 20:55] ZiggyAtl opened #53 "DAB selection & cart"
- [x] On DAB selector screen, the tool tip should appear on highlight, as well as click. Should also appear on unavailable ones, saying that block is unavailable.
- [x] #93
- [x] Its taking a long time for the DAB to get added to the cart after being selected (10 seconds). Need to reduce this considerably as people will worry there's something wrong with the system, and we could lose them.
- [x] O

[2022-09-11 21:03] ZiggyAtl opened #54 "Navigation bar at top"
- [x] On mini nav menu at top there are two search options, and we only need one.
- [x] The icons are too small, especially the Cart one. If there's something in there, that is a major call to action and we should be highlighting that, hence wanting it bigger.
- [x] It also doesn't look right, having a navigation menu above another navigation menu. To address this and the points above, how about w

[2022-09-11 21:32] ZiggyAtl opened #55 "Artwork Images"
I've had some feedback that the artwork images are unnecessarily big, and take up a lot of space on the page and therefore will require a lot of scrolling when there's multiple ones on a page. The suggestion was to reduce the artwork size and have it more like a card style with the image on top and info below. Like opensea do it.  https://opensea.io/assets?search[query]=bored%20ape

What are your

[2022-09-11 21:35] ZiggyAtl opened #56 "Tags for SEO"
All the tags seem to say Powered by Hydrogen, so do we need the title tags and description tags adding to the pages? If so I'm happy to create the wording for those.

[2022-09-11 22:02] ZiggyAtl opened #57 "Tax deductible wording"
Feedback is that the site doesn't highlight well enough that a purchase of a DAB is tax deductible. Therefore we need to add the statement "Your purchase is tax deductible within the guidelines of U.S. law." in a few more places to create more awareness. Please can you add it under the Select Your DAB on the artwork page (where I indicated)
![Screen Shot 2022-09-11 at 5 54 24 PM](https://user-imag

[2022-09-12 13:55] paulstroot commented on #45
Fixed in this update e6a99884f9a39754558c5c964f4eb2e06c56caa7

[2022-09-12 13:57] paulstroot commented on #48
@jennyvanderheiden , can we get some confirmation and/or direction on this so we can get the correct sizing, spacing and padding on the button?

[2022-09-12 13:58] ZiggyAtl commented on #45
Has it been uploaded? When I accessed the page it still looked the same as before

[2022-09-12 13:59] paulstroot commented on #50
updated in this commit d8f339b63157e53225d08b1238c41d6bcab7886e

[2022-09-12 15:31] jennyvanderheiden commented on #48
Let's do that. Thinking we can utilize the Blue "Select your DAB" button instead of the blue text. See example reference update from mockup[ here](https://gyazo.com/ae05769c1a95ef28b135686b1a43e237)

[2022-09-12 16:48] paulstroot commented on #29
Making "Generate PDF certificate after DAB Purchase" a new issue

[2022-09-12 16:49] paulstroot opened #59 "Generate certificate after DAB Purchase"
Generate PDF certificate after DAB Purchase.

_Originally posted by @paulstroot in https://github.com/ocupop/comission-shopify-hydrogen/issues/29#issuecomment-1244016624_

Once the PDF is created, the order status will be changed to "Fulfilled". A fulfilled order will display the "Download Certificate" and "Print Certificate" buttons in the order history.

[2022-09-12 16:50] paulstroot commented on #29
Making "Customize confirmation email to user." it's own issue.

[2022-09-12 16:51] paulstroot opened #60 "Customize confirmation email to user."
_Originally posted by @paulstroot in https://github.com/ocupop/comission-shopify-hydrogen/issues/29#issuecomment-1244018392_

On order completion, the confirmation email sent to the user should contain some custom information if possible, like the DAB id and certificate link

[2022-09-12 16:54] ZiggyAtl commented on #48
Thanks for changing to a button. Could you beef up the white lettering a bit please by making it bold and maybe a point size bigger?

[2022-09-12 16:55] paulstroot commented on #32
The mobile and desktop certificate now shows up for each purchased DAB in the order details page. Once we have implemented the creation of the PDF version of the certificate, it will be formatted to be printed.

To review, you can make a test purchase of some DABs, and then view the "My Account" page.

[2022-09-12 17:09] paulstroot commented on #48
How does this look @jennyvanderheiden and @ZiggyAtl ?
![image](https://user-images.githubusercontent.com/52838369/189714669-fc23077d-4df4-4003-b205-1f6c30abcd03.png)

[2022-09-12 17:11] ZiggyAtl commented on #48
Looks good, thanks. Could you make the Y in your lower case please

[2022-09-12 17:14] #40 closed

[2022-09-12 17:31] #45 closed

[2022-09-12 17:56] jonathanwburr commented on #39
@ZiggyAtl the reset password flow is in development. Will update you when that's ready.
We will update the login flow and account screen ui.

[2022-09-12 18:09] ZiggyAtl commented on #32
I tried to purchase a DAB, and when I got to the checkout screen I clicked on the "Already Have an account, log in" option.

That took me to this screen.
![Screen Shot 2022-09-12 at 1 54 33 PM](https://user-images.githubusercontent.com/112654923/189724793-a7493d9a-60de-44ea-b161-f7eecba34bc7.png)
My keychain automatically entered the password, but the system then said it was incorrect. I've had th

[2022-09-12 18:30] jennyvanderheiden commented on #39
@ZiggyAtl

In regards to the design comment - curious if you could expand on that. Is it a specific state? For example, before or after logging in?

Happy to discuss if a conversation is needed as well. Thank you!

[2022-09-12 18:49] ZiggyAtl commented on #53
Re #1 Can't we have it appear on hover, and then have it stick once it's clicked (so the user can then scroll down)?

[2022-09-12 18:53] ZiggyAtl commented on #39
Hi Jenny, this was the screen I was referring to. Hope the comments below explain what I was saying;
![Screen Shot 2022-09-12 at 2 36 08 PM](https://user-images.githubusercontent.com/112654923/189730637-aefb7174-cd51-4b3c-8aaf-043d5ec52a4d.png)
 Each of the headings is in a different type (size, bold etc).
It says Account Details at the top, and then again two headings down.
The logout link looks

[2022-09-12 19:47] jonathanwburr commented on #8
@tbeck @paulstroot closing this issue. We can add more specific tasks related to the dab selector as they come up

[2022-09-12 19:47] #8 closed

[2022-09-12 19:52] jonathanwburr commented on #27
@paulstroot closing this one for now. We can add more specific issues as they come up

[2022-09-12 19:52] #27 closed

[2022-09-12 20:04] #48 closed

[2022-09-12 20:04] #50 closed

[2022-09-12 20:04] #51 closed

[2022-09-12 20:06] #46 closed

[2022-09-12 20:08] #38 closed

[2022-09-12 20:20] paulstroot commented on #32
I will increase the size of the DAB image to meet a minimum size as indicated by the design.

[2022-09-12 20:22] #16 closed

[2022-09-12 20:22] jonathanwburr opened #64 "Filtering functionality for /products page"

[2022-09-12 20:24] #29 closed

[2022-09-12 20:29] tbeck commented on #59
- [ ] Landscape layout
- [ ] Need character limits for Museum note

[2022-09-12 20:35] jonathanwburr commented on #55
Reduce column width of image on /products page

[2022-09-12 21:15] ZiggyAtl opened #65 "Remove Orlando Museum"
Please can you change any reference to Orlando museum on the website to a different museum. It occurred to me that we couldn't have a worse example right now, as they're in the middle of a scandal (google Orlando and Basquiat). I know there is a testimonial on the home page from them. All the other text in the quote is OK as long as we change the museum name and location. Perhaps use on of our exa

[2022-09-12 22:27] paulstroot commented on #53
@tbeck @jonathanwburr , Thoughts on usability on this? Would there need to be some indication that the user needs to click in order to keep the tooltip from going away?

[2022-09-12 23:52] jonathanwburr commented on #44
@ZiggyAtl can you provide a screenshot of the issue?

[2022-09-12 23:57] jonathanwburr commented on #39
@ZiggyAtl the password reset flow should be working now. You will need to generate a new reset request.

[2022-09-13 00:06] jonathanwburr opened #69 "CORS issue when adding to Cart"
@paulstroot I think we're having the same CORS issue when adding dab to cart i'm assuming we need to add https://store.comission.art/ domain
`Access to fetch at 'https://us-central1-comission-application.cloudfunctions.net/createTempVariant' from origin 'https://store.comission.art' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an

[2022-09-13 03:48] paulstroot commented on #69
That's likely it. I'm adding it now. Please test it on your end.

[2022-09-13 11:56] ZiggyAtl commented on #44
Here you go. It's only seeing the image and the first two letters as the logo. The 'Mission' wording is being treated as letters so if anyone clicks on that piece it selects the letters.
![Screen Shot 2022-09-13 at 7 54 16 AM](https://user-images.githubusercontent.com/112654923/189894647-c554735a-5c20-4caf-b138-a486de7d862c.png)

[2022-09-13 12:09] ZiggyAtl commented on #39
- [ ] The password reset worked for me. Thanks
- [ ] I don't understand on the reset email though why there is a hyper link to the store, plus another option which says Visit our store. If either of those are clicked it takes the user to this shopify page below, which will be confusing. Shouldn't those 2 options be removed?
![Screen Shot 2022-09-13 at 7 59 09 AM](https://user-images.githubusercont

[2022-09-13 12:12] ZiggyAtl opened #70 "Select DAB doesn't seem to be working"
I was testing the DAB selection, selected a DAB (I wasn't signed in to my account at this stage, if that info is of use) and then the generating your DAN message came up, but then continued spinning round and never did anything.

![Screen Shot 2022-09-13 at 8 07 58 AM](https://user-images.githubusercontent.com/112654923/189897669-09090ee2-03af-4962-b578-330db0b9ae42.png)

[2022-09-13 13:59] paulstroot opened #71 "Modal Window Widths"
Modal window max widths need some attention. They sometimes appear wider than the width of the screen on tablet size windows.

Modals of note:
  - Dab Selector
  - Certificate View
  - Account details screens

We may need to do a little refactoring of how the modal widths are set. Jon, I could work on this (Paul), or you. Let's discuss.

[2022-09-13 16:18] jonathanwburr commented on #70
@ZiggyAtl I think this is probably related to issue #69 https://github.com/ocupop/comission-shopify-hydrogen/issues/69 which Paul pushed a fix and is working for me now. Let me know if that's not the case

[2022-09-13 16:26] #71 closed

[2022-09-13 16:26] ZiggyAtl commented on #70
Yes just tested and it's working now. Just another heads up though... when I went to the cart to check out and clicked on the 'Already have an account? log in' option on the checkout page it took me through to this Shopify page. https://comission-art.myshopify.com/password  rather than a CoMission log in page.

Is this being worked on under another issue? If it is already documented elsewhere plea

[2022-09-13 16:32] #69 closed

[2022-09-13 17:15] jonathanwburr opened #73 "Login link from checkout"
Yes just tested and it's working now. Just another heads up though... when I went to the cart to check out and clicked on the 'Already have an account? log in' option on the checkout page it took me through to this Shopify page. https://comission-art.myshopify.com/password  rather than a CoMission log in page.

Is this being worked on under another issue? If it is already documented elsewhere plea

[2022-09-13 17:16] jonathanwburr commented on #70
@ZiggyAtl yes aware of the login link from checkout flow. I created new new issue #73 to keep track. Closing this issue

[2022-09-13 17:16] #70 closed

[2022-09-14 11:38] #65 closed

[2022-09-14 11:45] ZiggyAtl commented on #57
I've just noticed there was a ready for review on this, but the issue doesn't seem to have been addressed at all?

[2022-09-14 11:52] #47 closed

[2022-09-14 15:48] tbeck commented on #57
Hi @ZiggyAtl - Taking a look here: https://comission-shopify-hydrogen-ocupop.vercel.app/products/that-illustrious-feeling?membership%2520period=that%2520illustrious%2520feeling%253A%252040x40

The new copy is in place. Can you provide additional details if you are not seeing the same?

Thanks!
<img width="1122" alt="Screen Shot 2022-09-14 at 8 46 12 AM" src="https://user-images.githubusercontent.c

[2022-09-14 15:50] tbeck commented on #56
Hi @ZiggyAtl - Yes... can you provide descriptions and page titles as needed?

Thanks!

[2022-09-14 15:58] tbeck commented on #55
Here is a direct link for review: https://comission-shopify-hydrogen-ocupop.vercel.app/products

[2022-09-14 16:09] jennyvanderheiden commented on #55
I think this is working well - I'd love to also resize to this on the "Collect" section of the homepage

[2022-09-14 16:40] paulstroot commented on #32
I have updated the staging site so that clicking on "Print Certificate" should now open up a PDF certificate in a new browser tab for printing. For now, this is only a static PDF, and does not contain the specific information for the purchased DAB. We will update this when we are able to dynamically generate the PDF after an order is completed.

I believe this issue is now ready for review. I'll m

[2022-09-14 16:43] paulstroot commented on #53
Re:

I have updated so that once a DAB is added to the cart, the page automatically navigates to the cart page.

[2022-09-14 17:20] jennyvanderheiden opened #75 "Add logo pile to Museum Landing Page"
Here are the collected logos from that mock logo pile on the Museum Landing page. Please use. Thanks!

https://www.dropbox.com/sh/hpnkmqpn8a60sc6/AADG_KFSmFp-ZSxDfIkPAr7ia?dl=0

[2022-09-14 17:25] jonathanwburr commented on #60
@ZiggyAtl we will discuss this issue in our Shopify run through

[2022-09-14 19:49] ZiggyAtl commented on #56
OK I'll start working on those

[2022-09-14 21:04] ZiggyAtl commented on #57
I'm seeing that text, thanks. A few things though. I'd like it to be bigger please, preferably the same size as the Beath Museum or, if that looks too big, the same size as Springfield, OR.
I'd also like it on the tool tip please, underneath the price.

[2022-09-14 21:06] ZiggyAtl opened #77 "Repeated info on artwork page"
I've just realized the artwork info is repeated on the Artwork page
https://comission-shopify-hydrogen-ocupop.vercel.app/products/that-illustrious-feeling?membership%2520period=that%2520illustrious%2520feeling%253A%252040x40

I hadn't been scrolling down, but saw it when I checked on mobile. Everything is repeated further down the page. It also says 100% tax deductible which shouldn't be said anyw

[2022-09-14 21:09] #75 closed

[2022-09-14 21:12] jonathanwburr commented on #55
@ZiggyAtl I added this to the homepage as well https://store.comission.art/

[2022-09-14 21:24] ZiggyAtl opened #79 "Main navigation bar"
If we're going to go with the two navigation bars, I think the main CoMission logo needs shifting down. It appears to be centered between the two navigation bars, but it looks like its offset. I think it needs lowering and centering along with the main line of navigation and the blue See Artworks box

[2022-09-14 21:26] paulstroot commented on #21
This is in progress and I have an early iteration up on the staging site. Once a DAB is purchased, the user's account page shows social media links for Facebook, Twitter and Instagram next to each dab in their order history. We will need to investigate a little further how specifically we would like to share for each social media platform, as there are some limitations to each one.

![image](https

[2022-09-14 21:27] ZiggyAtl commented on #55
Thanks Jon. In looking at that I realized the words Available and Collection above it need to be all lower case. Please can you update the A & C (but of course keep the capitals in CoMission)

[2022-09-14 21:59] jonathanwburr commented on #79
@ZiggyAtl could you add this feedback to the existing task https://github.com/ocupop/comission-shopify-hydrogen/issues/54 and close this issue?

[2022-09-14 22:04] jonathanwburr commented on #55
@ZiggyAtl the copy updates are now up on the homepage

[2022-09-14 22:04] jonathanwburr commented on #44
@ZiggyAtl I've updated the logo to not be selectable

[2022-09-14 22:25] jonathanwburr commented on #77
@ZiggyAtl I've removed this section.

[2022-09-15 11:04] #77 closed

[2022-09-15 11:06] #44 closed

[2022-09-15 11:07] #55 closed

[2022-09-15 14:23] ZiggyAtl commented on #21
Thanks for the update Paul. Are you able to show me exactly what it will look like when it's shared, or is that what you were referring to in your last msg?

[2022-09-15 14:24] tbeck commented on #54
@jennyvanderheiden - Let's connect on this and discuss an approach to help resolve some of the issues that @ZiggyAtl is flagging.

There are a few menu states that we need to account for as well. ie... authenticated user, active cart etc.

[2022-09-15 16:19] jennyvanderheiden opened #82 "Navigation Indicator"
Can we have a bottom line indicator similar to ReFED? Just indicating if you are on one of those pages. [Reference](https://gyazo.com/2f0269bdd9baee3727f6f43b6c35f3e5)

[2022-09-15 16:21] jennyvanderheiden opened #83 "Navigation Roll over"
For the top navigation - can we make the rollover state to a darker color - like shown here with the cart? [Reference](https://gyazo.com/b60462acd7b3e6cc00f9cf392d8b266a)

[2022-09-15 17:11] tbeck opened #84 "React hydration / suspense error"
This error appears periodically on the staging site:
https://reactjs.org/docs/error-decoder.html/?invariant=421

[2022-09-15 17:12] tbeck opened #85 "Shopify analytics: page-view TypeError: Cannot read properties of undefined (reading 'storefrontId')"
This error appears periodically locally and in production.

[2022-09-15 17:19] tbeck commented on #21
@paulstroot - can you update the Facebook share to ensure that it uses the popup feature?

I think it is something like:
`?display=popup`

[2022-09-15 17:39] tbeck commented on #64
I think that this is a duplicate: #24

Closing and continuing the conversation there.

[2022-09-15 17:39] #64 closed

[2022-09-15 17:57] #32 closed

[2022-09-15 18:05] tbeck opened #86 "Use "Creating DAB""

[2022-09-15 18:05] tbeck opened #87 "Custom spinner or progress bar used in DAB creation"

[2022-09-15 18:06] #9 closed

[2022-09-15 18:26] paulstroot opened #88 ""Continue Shopping" button on cart page not working"
on the cart page (/cart), the "ContinueShopping" button does not work because it is configured to close the pop-out drawer, not redirect the user.

[2022-09-15 18:56] jennyvanderheiden commented on #87
Was thinking we could "spin" this spinner - it is the interior shapes of the logo. I exported as PNG and SVG - let me know what works or if you need another format. Found [here](https://www.dropbox.com/sh/uxr2lwegsu8ujv8/AAAHdKY7nGyvUvZJHJedQZCva?dl=0)

[2022-09-15 21:27] jennyvanderheiden commented on #59
@ZiggyAtl  -  Check out these two orientations for the certificate and let us know what you are feeling! Thank you

https://www.dropbox.com/s/65sxqy582v50ao8/comission-certificate-thatillustriousfeeling-v2.pdf?dl=0

[2022-09-15 23:38] paulstroot commented on #53
I'm experimenting with having a minimal tooltip pop up on hover, and a more pronounced tooltip with the purchase button on Click. We are going to review next week and decide what we think about usability.
![image](https://user-images.githubusercontent.com/52838369/190526803-67db2c1b-18f3-4ebb-945b-9d2ef64bd466.png)

[2022-09-16 17:43] ZiggyAtl commented on #59
Thanks for that Jenny. I think these are both a big improvement on the first draft. As I mentioned yesterday, I think all the information which was previously on it was required, and I was looking for us to increase the % of the page taken up by the art at the expense of the white space, so I think both do that. However I've noticed that the wording describing the cause that the DAB is supporting

[2022-09-16 19:42] ZiggyAtl commented on #59
Also, could you make a couple of modifications please;
Change the title to "Certificate of Authenticity"
Change 'Unique DAB #' to just 'DAB #'
Change 'DAB Collector' to just 'Collector'
Thanks

[2022-09-16 20:17] ZiggyAtl opened #90 "Bottom navigation"
The items in the bottom navigation all seem to relate to the pages listed in the top navigation. Apart from the one which says "About Commission" which goes to the "Our Mission" page. Should the link at the bottom be the same for consistency?

[2022-09-16 20:22] jonathanwburr commented on #54
Ive made most of the style updates, still need to address some different account and cart states
https://gyazo.com/566ab83ce362045d0ef3b056a9d9c69f
logged out / logged in state - are we updating the user icon based on state? Are we replacing the current user icon?
What does cart look like if we have no items in it, is there an icon, or just text?

[2022-09-16 21:13] jonathanwburr commented on #90
@ZiggyAtl makes sense, I have updated

[2022-09-16 21:31] #90 closed

[2022-09-16 23:55] jonathanwburr commented on #53
@ZiggyAtl Paul added some hover functionality to the dab selector

[2022-09-19 13:27] jennyvanderheiden commented on #54
I was thinking we could have two different icons for logged in and logged out - reference: https://gyazo.com/b596a7c90f3a62979d0beba6d58d62fa

Thinking no items in cart is the bag icon - reference:  https://gyazo.com/62f938ff59512857a4b825dd784b9383

[2022-09-19 13:31] jennyvanderheiden commented on #59
I will work on the next version. I don't recommend offering 2 versions... I definitely think that the landscape version offers more real estate for the details you want. I don't think we should infringe too much on the margin on the landscape if people are indeed to print this out. The vertical version for sure has margins that are wider because the information needed to fit with the increase of t

[2022-09-19 13:36] ZiggyAtl commented on #59
OK thanks. Maybe another use people might find for a landscape version is as a screen saver

[2022-09-19 18:55] paulstroot opened #93 "Can we also include in the tip a list of the benefits that come with each DAB? The more places we can have that the better."

[2022-09-19 18:57] paulstroot commented on #49
@jhamlett - Adding you for visibility. Tom will discuss with you.

[2022-09-19 19:04] paulstroot commented on #93
Let's discuss this a bit first to decide what this list of benefits would look like, how long the text would be, etc., to figure out if the tooltip is the best place for this.

[2022-09-19 19:05] paulstroot commented on #53
I made a new issue #93 out of the second item.

[2022-09-20 15:43] ZiggyAtl commented on #59
Not in a position where I can print it out and see what it looks like other than on my laptop. Would like to see that before signing off. But initially it looks good. I agree with what you're saying about the landscape being more adaptable, and take on board your thoughts about not needing 2 orientations.

[2022-09-21 01:29] ZiggyAtl commented on #53
I tried adding this one to the issues but couldn't. Also this issue may be covered elsewhere, so if it is please ignore this message and close the issue. I selected a DAB while I was not logged in, then selected the checkout option, but it goes to this screen and I thought it should go to a custom CoM log in page?
![Screen Shot 2022-09-20 at 9 20 15 PM](https://user-images.githubusercontent.com/11

[2022-09-21 17:31] jonathanwburr commented on #88
should link to /products

[2022-09-21 17:36] tbeck opened #96 "Login flow issues"
I tried adding this one to the issues but couldn't. Also this issue may be covered elsewhere, so if it is please ignore this message and close the issue. I selected a DAB while I was not logged in, then selected the checkout option, but it goes to this screen and I thought it should go to a custom CoM log in page?
![Screen Shot 2022-09-20 at 9 20 15 PM](https://user-images.githubusercontent.com/11

[2022-09-21 23:45] #88 closed

[2022-09-22 17:01] tbeck commented on #73
Duplicate: #96

[2022-09-22 17:01] #73 closed

[2022-09-22 17:04] jonathanwburr commented on #54
@ZiggyAtl we have made some adjustments to the design to address nav
https://gyazo.com/60f8e5abdf4d9742c399f9afa1c0a68d
and is also up on staging

[2022-09-22 17:13] tbeck commented on #93
@ZiggyAtl - Marking this as ready for review so that we can discuss in our weekly meeting. It is our suggestion that we do not include benefit content in the tooltip because it creates a bad user experience.

[2022-09-22 17:25] tbeck opened #99 "Notifications: update border radius and replace shop url"
This assignment should be on the top of all system notifications:
`{% assign custom_store_url = 'https://store.comission.art' %}`

replace all instances of `{{shop.url}}` with `{{ custom_store_url }}`

Style settings for buttons to remove border radius:
`.button__cell { background: {{ shop.email_accent_color }}; border-radius: 0; }`

[2022-09-22 17:34] #93 closed

[2022-09-22 17:47] #86 closed

[2022-09-22 17:47] #87 closed

[2022-09-22 17:49] #83 closed

[2022-09-22 17:49] #82 closed

[2022-09-22 17:52] #54 closed

[2022-09-22 17:53] #53 closed

[2022-09-22 17:58] #39 closed

[2022-09-22 18:21] paulstroot commented on #57
We noticed in our meeting that this text does not appear below "Select your DAB" in every occurrence throughout the site. Uploading an update now to fix that.

Pull Request https://github.com/ocupop/comission-shopify-hydrogen/pull/100

[2022-09-22 18:37] jhamlett commented on #49
@ZiggyAtl FullStory is asking me for a verification code to access the account. Could you pass that along in here or email to j@ocupop.com

[2022-09-23 14:55] ZiggyAtl opened #101 "Full story / mix panel"
Got my first email from Full Story this morning so I can see thats now been implemented. Thank you.

I spoke with Full Story and they have a simple integration with MixPanel which is perfect for us. Please can this be implemented (here's the instructions)

https://partners.fullstory.com/integrations/solution/792/mixpanel

[2022-09-26 20:07] jhamlett commented on #101
@ZiggyAtl  I have activated the Mixpanel integration on the Full Story account. Full Story was only tracking activity on a development instance of the site up until this afternoon but it now should track the staging site.

[2022-09-26 21:16] jonathanwburr commented on #99
@tbeck I've gone through and updated all the notifications in shopify, we can either send test notifications or mark this as complete

[2022-09-27 14:10] tbeck commented on #99
Thanks @jonathanwburr

[2022-09-27 14:10] #99 closed

[2022-09-28 17:07] jonathanwburr commented on #96
Issue was recreated in safari, need to debug why shopify hosted page redirect doesn't work

[2022-09-28 17:20] jonathanwburr commented on #57
@ZiggyAtl we added to the products page grid view and are closing this issue

[2022-09-28 17:20] #57 closed

[2022-09-28 17:22] #49 closed

[2022-09-28 17:22] jonathanwburr opened #105 "Contact Form Integration"

[2022-09-28 18:39] #101 closed

[2022-09-29 16:23] ZiggyAtl commented on #56
This is the first time I've had to put together something like this, and so I had to read up to see what they should contain. Therefore before using them, I would appreciate you giving me your feedback on them. I'm happy to change / modify if they are not good.

HOME PAGE
Title tag                 Acquire art, connect with art, save the arts

Description tag     Acquire contemporary fine art for a

[2022-10-03 18:01] #84 closed

[2022-10-03 18:01] #85 closed

[2022-10-03 18:43] alexjlahr commented on #59
@jennyvanderheiden Flagging for your reference in case its needed here.

[2022-10-03 22:04] ZiggyAtl commented on #21
For the social media posts, I highly doubt we'll be allowed by the copyright owner to post the entire digital version of the artwork. This was another reason we wanted the certificate as people could post those instead. And because the image on the certificate has the cross hair on there it protects the overall integrity of the original artwork (ie if someone copies it has a cross hair on there).

[2022-10-04 01:05] tbeck commented on #56
Thanks @ZiggyAtl - We will implement and get back to you with any suggestions or follow-up questions as needed.

[2022-10-04 13:38] tbeck commented on #21
Hi @ZiggyAtl - Thanks for the feedback and questions. We can step through the options for sharing and any limitations imposed by each platform during today's call. I think that we need to confirm what details of the certificate should be publicly accessible via social sharing so that we can adjust our meta tags to include these details in both the Facebook and Twitter sharing links.

RE: Instagram

[2022-10-04 14:57] tbeck opened #109 "Adjust order confirmation page"
This is a Shopify hosted page:
https://comission-art.myshopify.com/63193972915/checkouts/a11830ff51cb300e43765b6adaf6a4ae/thank_you

Screenshot: https://gyazo.com/0df417711a25fcd38fff92595a58269d

[2022-10-04 22:54] ZiggyAtl commented on #60
I've been working on this and trying to combine both the 'next steps' instructions and the 'tax deduction' info in to one email. But it gets a bit long, with too much in it. Is it possible to have two emails that go out after each purchase? If so, I have attached an initial draft for the 'next steps' email. Note I've got a question in there for you, as to what we can add in terms of links / info f

[2022-10-06 14:18] paulstroot commented on #60
If it helps, there the order completion process can be divided into two
steps, which may help with how to think about the emails.

First, there is the "order complete" process, which is typically when the
order has successfully been submitted and payment made. This would be a
good place to talk about tax deductions and benefits of the purchase.

The next step is "fulfillment". This would typically

[2022-10-06 16:32] paulstroot commented on #109
The artwork had been set as a physical product for a while, making users enter their shipping address when making a purchase. I've updated this so that shipping details are no longer required, and the order confirmation page will not display the map. Attached is an image of the confirmation page without the shipping info.

![image](https://user-images.githubusercontent.com/52838369/194368589-9a9bb

[2022-10-06 16:45] paulstroot commented on #21
Tom. Correct about instagram not offering "Share" or "Like" buttons. I think our solution of giving instructions and providing an image to post is a good solution.

FYI, regarding social media sharing, I've made good progress on creating a dynamic page for users to share their DAB purchase directly on Facebook and Twitter. We need to work a bit on the design of this page (@jennyvanderheiden) , and

[2022-10-06 18:50] #6 closed

[2022-10-06 19:54] ZiggyAtl commented on #105
Please can you alter the title of the page (and where it appears in the navigation) to Contact Us

Is the font you used the same as the standard one used on the other pages?

Please can you modify it to look something like this one https://www.infinitegiving.com/company/contact  that includes adding the wording about responding within 24 hours (want to set expectation with user). The boxes are als

[2022-10-11 14:28] jonathanwburr commented on #105
@jennyvanderheiden could you take a pass for design at Bills feedback for the form page design? Let me know if you want to chat any of it through

[2022-10-11 14:54] jonathanwburr commented on #105
@ZiggyAtl a couple of technical questions:

1. Do you want the subject dropdown field to be required ( a user must make a selection in order to submit the form)?
2. If we don't make the subject field required, which email address would you like submissions to go to?
3. Do you want to use the copy from example form verbatim, 'We'd love to hear from you. Just send us a message, and we'll respond wit

[2022-10-11 17:43] paulstroot commented on #60
I was mistaken about my last comment. I just learned that having two emails is actually not a possibility in our situation. The fulfillment email I mentioned is only available to products that are set to be a physical product that gets shipped to the customer, and the email is sent to the fulfillment service. We'll want to gather all of our information to the customer in the one email that gets se

[2022-10-11 17:57] paulstroot commented on #60
I played around a bit with your welcome email text, and re-arranged in a way that might work if there was just one DAB, or multiple DABs in an order. This would need some fine-tuning of the copy from @ZiggyAtl and @alex, but it's something to discuss.

https://docs.google.com/document/d/1r9rG6T8Zz7LWT60yR8ucWzEo6T39bpua/edit?usp=sharing&ouid=114955153051386964490&rtpof=true&sd=true

[2022-10-11 19:27] ZiggyAtl commented on #105
@jonathanwburr  (1) yes please make it a required field. (3) yes please use that language (4)  Thank you for taking to time to get in touch with us. We have received your submission and will respond asap, and no longer than 24 hours.

[2022-10-12 17:11] ZiggyAtl commented on #105
Thanks for this. Couple of things;
The drop down box looks disproportionately small compared to the other boxes, and the text inside it is smaller too.
Please also update the text on the menu bar at the bottom to say Contact Us.
Please modify the acknowledgement wording to say 'Thanks for getting in touch, we have received your submission and will respond as soon as we can'

[2022-10-12 19:46] jonathanwburr commented on #96
@ZiggyAtl Adjusted configuration settings in shopify and seems to be resolving correctly on our end. Test and let us know

[2022-10-12 19:51] tbeck commented on #19
Hi @ZiggyAtl - Did you mean to add this comment here? This issue is closed, but maybe we can talk about it during tomorrow's check-in.

Thanks!

[2022-10-12 20:53] jonathanwburr commented on #105
@ZiggyAtl made some adjustments. Let me know if that resolves it.  Safari was picking up some default select styles

[2022-10-13 14:21] ZiggyAtl commented on #105
Thats great thanks

[2022-10-13 14:21] #105 closed

[2022-10-13 14:23] ZiggyAtl commented on #19
Thats weird. I made that comment a long while back, just after I had set up a GitHub account and was learning how it worked.

[2022-10-13 17:38] jonathanwburr opened #116 "Debug Contact Form Notifications"
Bill is not receiving notifications based on form logic in cognito

[2022-10-13 18:17] jonathanwburr commented on #116
@ZiggyAtl I made some adjustments to form logic. I just submitted 3 options. Let me know if you are receiving notifications

[2022-10-13 19:48] ZiggyAtl commented on #116
Thanks. I received them, but I also got multiple ones with some wrong details (wrong recipient, wrong subject etc). I can see you also got those too, so you'll see what I mean. We only need each one going to the correct email recipient

[2022-10-13 20:22] jonathanwburr commented on #116
@ZiggyAtl Ok I think I tracked down the issue. Resent some tests.

[2022-10-13 20:49] paulstroot commented on #60
@ZiggyAtl Attached is what the order confirmation looks like now. Please review. (@alexjlahr , copying you for any copy suggestions)

We will need to work on the second email with the tax exemption information next. (@tom, this is on our list to discuss)

Please review this email and post any update suggestions here. Open a new issue for comments about the second email

![image](https://user-image

[2022-10-13 23:12] ZiggyAtl commented on #60
Thanks Paul, it's looking good. A few things, and I think some of the typos are because of incorporating multiple DABs on the order.

1) The second bullet point is meant to include the artist(s) names, i.e. ....by world renowned artist [artist name] in your art collection.
2) The third bullet point says "you have made donationS" even though it lists one museum. It also has the word 'and' before th

[2022-10-13 23:13] ZiggyAtl commented on #116
I didn't receive any emails

[2022-10-13 23:18] ZiggyAtl opened #119 "#DAB receipt / tax exemption letter"
@paulstroot are you thinking of using a standard Shopify order acknowledgement / receipt / invoice document for this, which we can add custom wording to? Thought I'd ask that question first as it would be useful for you to send me that document, if you are planning on doing that, and I can see what we need to do to customize that rather than try and create something from scratch.

[2022-10-14 00:07] ZiggyAtl opened #120 "Email verification"
Hi Tom. This is one I mentioned previously and thought it had been fixed. The system doesn't do a basic email verification step when someone sets up a new account. Isn't this a standard practice on an online trading site?

[2022-10-14 00:12] ZiggyAtl opened #121 "Redirect new user to See Artworks (gallery)"
When a new user logs in and they go to their account, there is a button which says "Start Collecting". This should go to the See Artworks (Gallery) page, but instead it just goes to the homepage.

![Screen Shot 2022-10-13 at 8 08 36 PM](https://user-images.githubusercontent.com/112654923/195733982-497e876c-cdd1-403e-97c6-3569fd873952.png)

[2022-10-14 01:08] paulstroot commented on #121
Done

[2022-10-14 01:08] #121 closed

[2022-10-14 01:09] paulstroot commented on #60
Updates made. I forwarded the confirmation email to @ZiggyAtl and @tbeck for review.

[2022-10-14 01:58] #60 closed

[2022-10-14 12:55] tbeck commented on #120
RE: #2... This is a non-issue since there are no existing customers.

Spoke with Shopify's support and they outlined the new activation feature. I have instructed them to implement it so that we can test.

@jonathanwburr - We will need to adjust the login flow to account for this and show proper copy/messaging.

Thanks!

[2022-10-14 13:06] ZiggyAtl commented on #120
Thanks Tom. What I meant though is that it could be read that EVERY time an existing customer signed in they would have to go the email verification route. In other words once we do have existing customers they will have to do that each time. I'm pretty sure Shopify wouldn't implement something like that, but the wording was misleading so I wanted to double check.

[2022-10-14 17:51] paulstroot commented on #59
@jonathanwburr , I'm assigning this to you if you have time. If I get an opening next week before you do I can tackle it too, but I have a handful of higher priorities on my to-do list.

[2022-10-17 15:36] ZiggyAtl commented on #96
It's now taking me to a CoM page and not a Shopify one. However it takes me to a screen where I can check out without creating an account. I thought it was a requirement to have an account to be able to buy a DAB, otherwise how can people log in later and view their collections? Shouldn't it be a requirement that they have to create their account first?

Also, once I get to the checkout I can't up

[2022-10-17 16:32] ZiggyAtl opened #124 "DAB selection wording"
As we will be marking some dabs as 'unavailable', to create scarcity, I think we need to be consistent with the wording on any that the user can't buy (including those already sold). Therefore on the tool tip, could you replace the word SOLD for UNAVAILABLE

Also on the artwork page, can you use the word 'available' rather than 'left'. See where highlighted on the attached screenshot.

One other p

[2022-10-17 16:57] alexjlahr opened #125 "Frequently Asked Questions (FAQ) Page Availability"
The FAQ page exists – https://store.comission.art/faq – but is currently not linked to from anywhere within the website.

What are our thoughts on making the 'How It Works' item within the nav behave as 'Partners' does, with a drop-down? I could also see us striking 'My Account' from the footer nav and replacing with 'Frequently Asked Questions' @paulstroot @tbeck @jonathanwburr

Ideally, we would

[2022-10-17 19:52] tbeck opened #126 "Update cart to include "remove" functionality"
...once I get to the checkout I can't update the items in my cart. I realized there was already a DAB in there from the last time I had visited, and as a user I would then have wanted to delete one. However it doesn't allow me to delete anything that's in the cart, and I think it should be able to do that.

_Originally posted by @ZiggyAtl in https://github.com/ocupop/comission-shopify-hydrogen/iss

[2022-10-17 20:01] tbeck opened #127 "Confirm link back to store from checkout page"
The other problem for the user at that stage is there is no way back to the site, even if I click on the CoM logo it doesn't take me back. What if they wanted to continue shopping or go back and check something on the site?

_Originally posted by @ZiggyAtl in https://github.com/ocupop/comission-shopify-hydrogen/issues/96#issuecomment-1281070110_

[2022-10-17 20:01] tbeck commented on #96
Hi @ZiggyAtl
- created a new issue to track remove from cart functionality: #126
- create a new issue to track Back Link from checkout page: #127

RE: Account creation... While customers can perform checkout before creating an account, they will be required to create the account in order to view/download certificates. It follows this process:

1. Visitor adds to cart
2. Checkout (email is captured

[2022-10-17 20:11] ZiggyAtl commented on #96
That makes sense. Best of both worlds. Fewer steps to buy a product, but they still need to set up an account to use it.

[2022-10-17 20:11] #96 closed

[2022-10-18 13:01] #116 closed

[2022-10-18 16:48] paulstroot commented on #119
@ZiggyAtl , I was actually waiting for you to let us know what sort of working you would like to use for this email. I think you'll need to create this from scratch, as we don't have any examples to reference.

[2022-10-18 16:50] paulstroot commented on #124
Thanks. I'll make the updates to the wording. The numbers will be a little inconsistent right now because we're still in development on that feature.

[2022-10-18 16:50] ZiggyAtl commented on #119
@paulstroot please could you resend me the latest version of the other email that goes out. Want to make sure I don't duplicate anything

[2022-10-18 16:53] paulstroot commented on #126
@ZiggyAtl - This is pretty standard checkout procedure for most e-commerce. Users can make edits to their products when they are viewing their cart, and once they click "Checkout", that solidified the products they want to buy and continues on to the payment process. They need to go back to their cart if they want to edit the products they want to purchase.

[2022-10-18 16:54] paulstroot commented on #127
@jonathanwburr - When you were working on setting up the checkout pages did you come across a place where we can make edits? Specifically adding a link to the logo and maybe a text link to return to the site?

[2022-10-18 17:20] paulstroot commented on #126
... Also @ZiggyAtl , just to confirm, the title of this issue is "Update Cart to include remove...", but in your description you refer to the checkout page. These are two separate pages, which one do you mean?

[2022-10-18 17:22] paulstroot commented on #59
Update of the certificate design is complete. Here is a direct link to one of the certificates for review:
https://store.comission.art/dab/certificate/7273907388595-3Y5xssYHZEK3mNs9Av2Z
(you man need to decrease the size of your browser window to make it fit.)

[2022-10-18 17:25] jonathanwburr commented on #127
@paulstroot I will look into it

[2022-10-18 18:33] ZiggyAtl commented on #126
@paulstroot Sorry, I was referring to be able to remove something from the cart please. I take on board what you say about the checkout procedure and that makes sense, however it also needs the ability to go back to the cart from the checkout, if someone sees they need to add or delete something. And I couldn't see how to do that either.

[2022-10-18 18:41] ZiggyAtl commented on #59
Hi @paulstroot we had landed on the landscape version of this but it appears to be landscape. Also when I went to print it, it didn't fit on a regular page (I had to reduce the scale). And please can it have the color version of the CoM logo, not the black and white

[2022-10-18 18:45] paulstroot commented on #59
Yes, it is landscape. Users will ideally print from the PDF that we will be generating, not from the browser, so it should fit perfectly when it is printed.

I overlooked the color of the logo, thanks. I'll have that updated soon.

[2022-10-19 19:49] ZiggyAtl opened #133 "Scrolling issue"
On the See Artworks section, if you select an artwork and then scroll down the screen, the wording on the right hand side relating to the artwork runs 'over' the menu at the top of the page, and not under it. See example
![Screen Shot 2022-10-18 at 4 29 22 PM](https://user-images.githubusercontent.com/112654923/196789545-d790a456-46ce-4e2b-8a62-0e2783e556c7.png)

[2022-10-19 20:03] ZiggyAtl opened #134 "Text changes"
Please can you reduce the font height in the drop down on 'Partners' in the main menu to the same size as the other menu items.

Please update the Year on 'Illustrious Feeling' to 2017. It's currently showing it as over 1600 years before the artist was born ;)

Some of the text has wrongly been repeated on the benefits page. See screenshot. Its the bits highlighted which are repeated and should be

[2022-10-19 20:28] ZiggyAtl opened #135 "'See Artworks' page link changes"
I've just realized that in various places the website doesn't show the potential buyer the details of the artwork, or explains what comes with it. It just goes straight to Select Your DAB, which is too premature. There are two easy fixes for this on the See Artworks page.

1) If an artwork is selected from the carousel it should go the Artwork page (e.g. https://comission-shopify-hydrogen-ocupop.v

[2022-10-20 02:19] ZiggyAtl opened #136 "Benefits to features + a couple of other text changes."
To help overcome some of the confusion initial viewers have had I want to make a couple of text changes (and reduce the amount of text), and use the word FEATURES instead of BENEFITS throughout the site. I've listed the text changes below. (B-F) means an area where we need the benefit to feature word change.

HOME PAGE;
- [x] (B-F) Under the word Experience in the second blue block/column
- [x] In

[2022-10-20 12:30] paulstroot opened #137 "Requested update to homepage image."
**From Bill:**
The other suggestion I was given, which I think is a good one, is to replace the image in the Experience section with the image of the DAB coming out of the painting, which is part of the graphic in the How it Works section. I don't mean having the whole thing, just a static image like this

![image](https://user-images.githubusercontent.com/52838369/196948951-c8a44e05-54e1-47ea-a15

[2022-10-20 12:31] paulstroot commented on #136
Moving the last item about the image to a new issue.
#137

[2022-10-20 12:32] paulstroot commented on #137
@jenny, want to weigh in on this one and respond with any comments or questions? The "Experience" section is on a black background, so we can not place this exact image there.

[2022-10-20 12:36] paulstroot commented on #125
I replaced the "Account" link in the footer with "FAQ"

[2022-10-20 12:38] paulstroot commented on #126
@ZiggyAtl , if I'm understanding correctly, what we're talking about here is giving users the ability to navigate back from the checkout page to their cart, where they can then edit their cart items, correct? If so, then I believe this issue is a duplicate of #137

[2022-10-20 13:17] ZiggyAtl commented on #126
@paulstroot you're right in this has some duplication with #127   Would the link back from the checkout to the cart also give the user access back to the site too, in case they wanted to check something about the art, or maybe add something else? If that is the case, then yes #127 and #126 can be merged as one issue.

[2022-10-20 16:39] ZiggyAtl commented on #119
Hopefully this document outlines the best way to split up all the purchase info and next steps in to two separate emails.
[Emails after a purchase.docx](https://github.com/ocupop/comission-shopify-hydrogen/files/9832182/Emails.after.a.purchase.docx)

[2022-10-20 16:53] ZiggyAtl commented on #136
Thanks @paulstroot  two things remaining;
The first action item still says Benefits. See screen shot
![Screen Shot 2022-10-20 at 12 49 16 PM](https://user-images.githubusercontent.com/112654923/197010290-4b49c690-c032-4a05-a640-04802cb9317a.png)

The link on the museum page (https://comission-shopify-hydrogen-ocupop.vercel.app/for-museums) still says benefits.
![Screen Shot 2022-10-20 at 12 52 00

[2022-10-20 16:58] ZiggyAtl commented on #135
@jonathanwburr the second part of the request has been done, thanks.

However the first one hasn't. If someone clicks on the artwork in the carousel it doesn't go straight to the artwork page. It brings up stripped down details of the artwork and they then have to click the View details

[2022-10-20 17:00] #134 closed

[2022-10-20 17:01] #133 closed

[2022-10-20 17:02] #124 closed

[2022-10-20 17:06] jennyvanderheiden commented on #137
Let's try this image [https://www.dropbox.com/s/dvek7312x2rayqm/comission-features.png?dl=0](url)

[2022-10-20 17:09] ZiggyAtl commented on #120
@paulstroot I tried to create a new account and it didn't go through the step of getting me to validate the email. I just got an auto email saying the account was ALREADY validated.

[2022-10-20 17:11] #125 closed

[2022-10-20 17:13] paulstroot commented on #135
Hi Bill, let's discuss this in our meeting today.

[2022-10-20 17:27] paulstroot commented on #136
Pushing that update to the live site now.

[2022-10-20 17:27] #59 closed

[2022-10-20 17:29] #136 closed

[2022-10-20 17:53] #135 closed

[2022-10-20 18:01] paulstroot commented on #126
Duplicate of #127

[2022-10-20 18:01] #126 closed

[2022-10-20 18:02] paulstroot commented on #120
Copying @tbeck for visibility. I think you know more about this that I do Tom.

[2022-10-20 18:10] ZiggyAtl commented on #56
@jonathanwburr why have each of the title tags had "- Account details" added to the wording I sent please?

[2022-10-20 18:14] paulstroot opened #141 "Updating wording on checkout confirmation page"
From Bill in Issue #108:
One thing, is the wording on the left hand side fixed or can it be modified. Ideally the wording under 'Your order is confirmed' should say 'You'll receive a confirmation email with your order details and tax receipt shortly'

![image](https://user-images.githubusercontent.com/52838369/197026444-b7d4e96f-b4e4-42a2-88c9-daf86b325062.png)

[2022-10-20 18:32] ZiggyAtl commented on #56
@jonathanwburr also I used this site below to check the tags and every page I tried it said 'Meta description not found'. And for very page it just said 'Commission' for Meta title. Am I doing something wrong, or are the descriptions not in there?
https://smallseotools.com/meta-tags-analyzer/

[2022-10-20 18:39] ZiggyAtl opened #142 "Pricing level names"
One the call I noticed that the pricing still says Base pricing, then tier 1, tier 2 etc. Can we eliminate the phrase 'base price', so that the lowest price is tier 1, then tier 2 etc?

[2022-10-20 19:34] jonathanwburr commented on #56
@ZiggyAtl I'll have to look into it, when I look in the code inspector the meta tags are there but aren't being picked up by testing tools

[2022-10-20 20:14] paulstroot commented on #142
Yes. Update made. This is just some old naming that carried over from when the product was first created weeks ago. Newly created artworks should default to "Pricing Tier 1" being the first pricing tier created.

[2022-10-20 20:14] #142 closed

[2022-10-20 20:31] ZiggyAtl opened #144 "Bottom navigation bar"
I've completed some of the things which are needed for the bottom navigation bar, namely the Privacy Policy and Refund Policy (which are in Shopify). The last thing I need to finalize are the terms and conditions.

In looking at the bottom navigation bar, the refund policy is missing from there so that needs adding please. Could we tidy up the items in there so they are ordered logically for whoev

[2022-10-20 20:33] ZiggyAtl commented on #141
@jonathanwburr I'm unable to check this as I can't process an order. If you've checked this as it's what I asked for I'm happy for you to close the issue. Or do you have a way for me to process sample orders please?

[2022-10-20 20:51] jonathanwburr commented on #141
@ZiggyAtl here's some instructions for processing test orders
https://gyazo.com/6f7adc5de17b64e8a165f00cadd6d0eb

[2022-10-20 21:09] #141 closed

[2022-10-21 15:39] tbeck commented on #120
Hi @ZiggyAtl - What email addresses have you used to test accounts so far?  We may need to remove your customer accounts before testing this flow.

[2022-10-21 15:42] ZiggyAtl commented on #120
The one I set up yesterday (sorry can't remember which email address) was the one I used to test the validate email. I'm OK if you remove all accounts that have been set up, if that helps. I can just set up a new one when it's ready, and I'm using the test@ to show people the system.

[2022-10-24 18:06] paulstroot commented on #144
I have made some updates to the layout of the bottom navigation bar.

Content for these pages can be entered in the Shopify admin under "Online Store -> pages". I'm assigning this task to you now @ZiggyAtl for you to enter in that text. let us know if you need any assistance in styling the bodycopy.

[2022-10-24 18:30] paulstroot commented on #21
Now opens up in a popup window

[2022-10-24 19:09] ZiggyAtl commented on #144
I entered a comment in here but it seems to have disappeared, so entering again. Sorry if you get it twice.

@paulstroot thanks for that. Just have a couple of questions for things I don't know how to address. The item in the bottom navigation bar which says Partners Overview should say Museum Overview and should link to the page which used to be referred to as For Museums (which I now can't find)

[2022-10-24 19:23] paulstroot commented on #119
@ZiggyAtl , We have a solution set up to be able to send emails from our application without having to go through Shopify's notification email setup. This solution uses a third-party email sending service called "SendGrid". For security reasons, in order to be able to send emails from a certain domain name, like "sales@CoMission.art" or "bill@comisson.art", we need to make some updates to the Doma

[2022-10-24 19:38] paulstroot commented on #144
Thanks. I'm updating that footer link now.

For the Privacy Policy and Returns policy content, I was actually little late to this conversation, so I didn't actually know all of the details until you explained your issue above. I just did a little research and understand the disconnect now, so thanks for that.

I realize now that the place where you have entered the information in the Shopify Admin

[2022-10-24 20:38] ZiggyAtl commented on #144
@paulstroot that's great. So if I ever modify the terms and conditions in the future, I just need to update in the Admin section in Spotify and it will automatically update the website.

[2022-10-24 20:49] paulstroot commented on #144
Correct. I just pushed this update to [https://store.comission.art](https://store.comission.art/) for review
#147

[2022-10-24 21:28] #144 closed

[2022-10-24 22:26] ZiggyAtl commented on #21
@paulstroot I believe you still need the suggested wording to use for the social shares? If so, I put this together, although happy for @Alexjlahr to suggest any improvements;
Check out the piece of [ARTWORK NAME] by [ARTIST] I’ve just bought at CoMission.Art. DAB# [DAB#] now has my name on it and [MUSEUM NAME] has a donation in my name

Is it possible that the message can be slightly different pe

[2022-10-24 22:47] ZiggyAtl commented on #119
@paulstroot sorry just seen this. If you want to try it now I can send you the code

[2022-10-24 23:17] ZiggyAtl commented on #21
@paulstroot also noticed a couple of things in the window which pops up for the instagram share. It says 'Download the image here' but there's no hyperlink on the 'here', and also there's a typo in the 3rd bullet point (r in about)

[2022-10-25 12:32] paulstroot commented on #109
This occurred because a product was checked as "This is a physical product". This should now be unchecked by default when new art is created.

[2022-10-25 12:42] paulstroot commented on #7
Privacy and Refund policy have been added. Just need to add Terms and Conditions

You can edit this content in Shopify under "Settings -> Policies"

[2022-10-25 16:20] ZiggyAtl commented on #7
@paulstroot I've added the Terms and Conditions now. One thing I then wanted to check was that the system required people to click their acceptance of the Terms and the Privacy Policy before they could purchase anything. Unfortunately I've lost those details you gave me to do sample orders so I couldn't check it. Does the system require their acceptance of the terms? And please can you resend me t

[2022-10-25 16:26] ZiggyAtl opened #148 "Checkout issues"
@paulstroot I tried to process an order while I was logged in to the test account, however I noticed two things;
1) it didn't remember any of the account information and required me to enter all my details as if I was a visiting customer. Is this how it's meant to work or should it be remembering any existing account details (such as name, email etc)?
2) The images for the artwork are not showing

[2022-10-25 16:28] ZiggyAtl opened #149 "Remove logos"
Please could you remove the 4 museum logos at the bottom of this age as they are actual museums and it implies they have signed up with us, which they haven't
https://comission-shopify-hydrogen-ocupop.vercel.app/for-museums

[2022-10-25 18:12] paulstroot opened #150 "Emails for "Submit for Approval" and "Change Request""
I've implemented some emails for the Museum Admin for when they Submit new artwork for approval, or request changes to artwork that has already gone live. These emails will be received by a CoMission admin.

Question: Should these emails be sent to "store@comission.art"? Or a different email address?

Attached are screenshots of the emails Please review the wording carefully and feel free to sugge

[2022-10-25 18:16] ZiggyAtl commented on #150
@paulstroot those emails are OK thanks. No edits needed. Please have them sent to support@comission.art

[2022-10-26 15:49] paulstroot commented on #149
@jennyvanderheiden and @tbeck , Tagging you for visibility. Should we replace these logos for some fake logos? Thoughts?

[2022-10-26 16:52] jennyvanderheiden commented on #149
Maybe we should just remove until we have museums? to avoid that same confusion

[2022-10-26 17:35] ZiggyAtl commented on #149
@jennyvanderheiden @paulstroot agree with Jenny, please remove them.
thanks

[2022-10-26 20:05] ZiggyAtl commented on #119
@paulstroot That look great. A couple of things;
1) For the multi museum version it should say "The details of your donations are below" (plural). If this is problematic and you just want to use one set of wording for both the single and multi donations, you could say "Your donation details are below." and that would work for both.
2) Under each donation amount it should have the wording "No goods

[2022-10-26 23:21] jonathanwburr commented on #56
@ZiggyAtl this is what I found when researching from shopify docs

_SEO bot behavior[Anchor link to section titled "SEO bot behavior"](https://shopify.dev/custom-storefronts/hydrogen/framework/seo#seo-bot-behavior)
By default, all routes in Hydrogen are stream rendered. However, Hydrogen supports SEO by inspecting the user-agent for every request, disabling streaming, and buffering the response to

[2022-10-26 23:54] jonathanwburr commented on #127
placing some of my research documentation of other users encoutering no link back to cart from checkout here

https://community.shopify.com/c/shopify-discussions/checkout-logo-link-and-breadcrumbs-cart-link-missing/td-p/801845
https://community.shopify.com/c/shopify-design/return-to-cart-button/td-p/407288

[2022-10-27 14:47] tbeck commented on #127
Thanks @jonathanwburr - It looks like there are folks in those threads using a "Shopify Debut Theme" as well, so the issue may not be specific to custom storefronts?

[2022-10-27 17:47] jonathanwburr commented on #7
Disable checkout button until terms and conditions and privacy policy have been agreed (checkbox)

[2022-10-28 17:59] #149 closed

[2022-10-28 18:25] #148 closed

[2022-10-28 18:58] ZiggyAtl commented on #56
@jonathanwburr I started checking these and ALL the title tags on the pages I reviewed (home, mission, how it works, benefits, partner artists) are incorrect, so I stopped at the point, until you can go back and check them please. Most of them just have "CoMission Art · CoMission Art" and not their own individual title tag. The Partner Artist page has something which is similar to what I sent you,

[2022-10-28 20:40] ZiggyAtl opened #152 "Link to Privacy Policy"
@paulstroot when I was putting together the Terms and Conditions, I needed to include a link to the Privacy Policy. As it is a pop up and not a separate webpage I reached out to find out what to use and you said to use /policies/refund-policy

Unfortunately that didn't work and rather than a link appearing, the text appears. Please see below for an example. Did I do something wrong?

SECTION 5 - P

[2022-10-28 20:41] #150 closed

[2022-10-28 20:44] ZiggyAtl commented on #119
@paulstroot please can you send me emails of the latest format of the receipts so I can check them. thanks

[2022-10-28 20:46] #152 closed

[2022-10-28 20:47] ZiggyAtl commented on #7
@paulstroot when I was putting together the Terms and Conditions, I needed to include a link to the Privacy Policy. As it is a pop up and not a separate webpage I reached out to find out what to use and you said to use /policies/refund-policy

Unfortunately that didn't work and rather than a link appearing, the text appears. Please see below for an example. Did I do something wrong?

SECTION 5 - P

[2022-10-28 20:48] ZiggyAtl commented on #7
@paulstroot I currently don't have any content for the Jobs page, but may do in the near future. Is this page anything like the Terms and Conditions and Privacy pages, where I can just enter the text and it will update on the site? And if so where do I go to access that please?

[2022-10-28 21:51] jonathanwburr commented on #56
@ZiggyAtl ok thanks for testing I will keep digging. For my reference, which testing tool were you using?

[2022-10-29 16:01] ZiggyAtl commented on #56
@jonathanwburr https://smallseotools.com/meta-tags-analyzer/

By the way I forgot to mention that all the description tags appeared to be OK and used the text I gave you. It was just the title tags which were incorrect

[2022-10-31 23:03] jonathanwburr commented on #7
@ZiggyAtl re:links to other policy pages, i believe i was able to resolve these. In the editor I highlighted the text I wanted to link from, clicked the link icon, and entered the links.
Re: user agreement to terms, I've added a checkbox that needs to be checked before they can click to check out

[2022-11-01 19:58] ZiggyAtl opened #154 "Bottom menu item text change"
I've realized our terms are called Terms of Service, but in the menu item at the bottom of the web page it is called Terms and Conditions. Please could you update the item in the bottom navigation to say Terms of Service.
Also I've got some differences re Returns / Refund policy. Therefore please can you update the bottom navigation to say Refund Policy and I'll update the terms docs

[2022-11-01 20:41] ZiggyAtl commented on #7
@jonathanwburr thanks for that, it all looks good. Are you able to answer the question I asked Paul above?

Is the Jobs page like the Terms and Conditions and Privacy pages, where there is somewhere I can enter the text and it will update on the site? And if so where do I go to access that please?

[2022-11-02 18:57] jonathanwburr commented on #7
@ZiggyAtl I've added a jobs page that you should be able to edit. https://comission-art.myshopify.com/admin/pages/94598037683
I will need to add it to the navigation once you have content populated

[2022-11-02 20:41] ZiggyAtl commented on #7
@paulstroot thank you. As there's already a Jobs page in the navigation could you use that? Also that page is currently blank anyway, so it won't matter that there's no content in the one on Shopify.

Wondering how that page works. Will every time I create a new job it adds to the rest of them on that page? And if I delete one it will take just that one off?

[2022-11-02 23:29] jonathanwburr commented on #7
Yes we can use that link.
I put up an example of how you might use the page to add multiple Jobs. The 'Title' field is the page title, and then you could use typography (I used h2 size headings) to create multiple listings on the page and put up as many or as few as you like

[2022-11-03 15:18] ZiggyAtl commented on #7
@paulstroot that works. Please can you now link it to the existing page. I've added some content in the Shopify admin so at least it won't be a blank page

[2022-11-03 17:03] paulstroot opened #156 "Updates for Scalability"
Shopify has a limit to how much data we can fetch at a time when retrieving information about products. Because of this, we may eventually hit a limit once there are many museums posting many pieces of art. This will require some refactoring if the code to load data with multiple requests to Shopify.

Here is a list of some of the current limits I found in the code at first glance. I skipped over

[2022-11-03 17:10] tbeck commented on #56
@jonathanwburr - Let's review title logic and push for @ZiggyAtl  to review.

[2022-11-03 17:14] jonathanwburr commented on #37
Moved to discussion

[2022-11-03 17:14] #37 closed

[2022-11-03 17:16] jonathanwburr commented on #33
migrated to discussion

[2022-11-03 17:16] #33 closed

[2022-11-03 17:17] jonathanwburr commented on #31
migrated to discussion

[2022-11-03 17:17] #31 closed

[2022-11-03 17:20] jonathanwburr commented on #10
migrated to discussion

[2022-11-03 17:20] #10 closed

[2022-11-03 17:21] jonathanwburr commented on #156
migrated to discussion

[2022-11-03 17:22] jonathanwburr commented on #28
migrated to discussion

[2022-11-03 17:22] #28 closed

[2022-11-03 17:42] #154 closed

[2022-11-03 17:47] #7 closed

[2022-11-03 19:10] paulstroot commented on #119
TODO: if Tax ID does not exist for a museum, eliminate that line it the email receipt.

[2022-11-03 19:22] ZiggyAtl opened #168 "Certificate substituting fonts"
I noticed that the fonts in the certificate got substituted on my Mac as soon as I downloaded it. This is a recent issue as it used to work fine. I have attached what it looks like once it is downloaded.

[certificates-certificate_Jv4QIJOzBmaabrCwZa3C.pdf](https://github.com/ocupop/comission-shopify-hydrogen/files/9932376/certificates-certificate_Jv4QIJOzBmaabrCwZa3C.pdf)

[2022-11-04 18:19] ZiggyAtl commented on #21
@paulstroot I spoke with Tom yesterday about the first item below and he OK'ed it.

- [ ] Add three more free type boxes in the Museum Admin set up page for Instagram Handle, Twitter Handle and Facebook Username. In the Instagram and Twitter boxes please can it be pre-populated with the @ sign. In the Facebook one please can pre-populate it with www.facebook.com/YourUserName
In the ? info box besi

[2022-11-05 00:50] ZiggyAtl opened #169 "Remove refund checkbox at checkout"
@jonathanwburr reminder that the Refund policy needs removing from the checkboxes at checkout.
thanks

[2022-11-07 16:05] #169 closed

[2022-11-07 22:36] jonathanwburr commented on #120
I have submitted a ticket with Shopify to understand expectations for email verification login step.

[2022-11-09 01:22] paulstroot commented on #119
Here is a screenshot of the order confirmation email, and of the order email receipt. Tax ID is now being properly inserted into the email, and the text updates have been made.

![image](https://user-images.githubusercontent.com/52838369/200712984-c3605bd4-3ae8-445e-ad53-99519a4c44d4.png)

![image](https://user-images.githubusercontent.com/52838369/200713063-1c521f2c-0bcf-40a6-b65a-ff195becb53d.pn

[2022-11-09 01:32] ZiggyAtl commented on #119
@paulstroot thanks for that. One more thing, and sorry to be picky on this one. Please can you close the gap in between the 'Thank you...' title and the bullet points a little (by about 50% of the current gap) and can you add another carriage return after the last bullet point (to make a touch more space in between that and the next paragraph). It just looked a little unbalanced when I looked at t

[2022-11-09 18:07] paulstroot commented on #21
These items should be all set and ready for review. You can test the social media links by going to any existing purchases in your "Account" page.

[2022-11-09 19:37] ZiggyAtl commented on #21
@paulstroot The names of the boxes in the edit screen of the museum app need changing please, as the facebook one requires a @ (which is shouldn't) and the IG one doesn't (which it should). Therefore if change the name of the second box to "Instagram Handle" and the third box to "Facebook Username" that will correct the issue. Also once they have been approved, the titles of the boxes don't match

[2022-11-09 19:38] paulstroot commented on #119
Update made. Here is a preview:

![image](https://user-images.githubusercontent.com/52838369/200925029-a5812c59-a4c0-4bfd-a7b3-4437170b597a.png)

[2022-11-09 19:49] ZiggyAtl commented on #119
@paulstroot Not sure what happened with this one. Rather than the gap at the top being closed a bit, there is now a line of text that wasn't in there before (which we don't want). Also the bullet points don't have the museum and artist detail in there, however is that because this is just a test and the email isn't linked to a purchase?

[2022-11-09 22:54] tbeck commented on #168
It doesn't look like Pupeteer handles outlining fonts as part of their PDF configuration.

Looking into updating the font family to limit font variations. It is currently set to: `Helvetica Neue,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;`

[2022-11-10 13:38] ZiggyAtl commented on #168
@tbeck don't know if this is related but I've noticed issues with helvetica neue on my mac. It was the font used for the pitch deck you guys put together, and whenever I try and save updates I get this
![Screen Shot 2022-11-10 at 8 37 19 AM](https://user-images.githubusercontent.com/112654923/201106263-d4efcf95-39a6-4a03-8803-4cbd50d90bba.png)

[2022-11-10 13:48] tbeck commented on #168
Hi @ZiggyAtl - Thanks for flagging that warning. It is a related issue that is caused by the font selection. I discussed a fix for the certificate with Jon yesterday, but it looks like we should pull @jennyvanderheiden into the conversation to help provide an alternative solution for the pitch deck.

@jennyvanderheiden - Let's connect today and I can answer any questions you have regarding the iss

[2022-11-10 18:00] jennyvanderheiden commented on #168
Hi @ZiggyAtl

I am attaching the fonts here so you have access to them and avoid this issue for your personal computer. [https://www.dropbox.com/s/0zx1vj63l7jkq31/HelveticaNeue.ttc?dl=0](url)

In regards to the Pitch Deck itself - downloading and sharing as a Powerpoint will run into these issues as you share with other that do not have this font installed on their computer. If you were to export

[2022-11-10 21:36] jonathanwburr commented on #168
@ZiggyAtl I made some updates to how fonts are loaded into the generated pdf downloadable document.
Attached is the version that was generated on my machine which looked good on both Tom and Pauls machines as well.
https://storage.googleapis.com/download/storage/v1/b/comission-application.appspot.com/o/certificates%2F6oeM8vpsc5rZBkhfPThA.pdf?generation=1668110781304129&alt=media
This is the Dab it

[2022-11-10 23:08] ZiggyAtl commented on #168
@jonathanwburr thanks for this. There's a couple of differences between this and the original one, which I hope you can easily fix, and I took some pictures showing the two versions side by side to illustrate it. If you look at the headings, the font on the new version is condensed, and the characters are running in to, and merging, with each other. It looked much better on the original one. Also

[2022-11-11 16:18] paulstroot opened #174 "Can not update profile info - Email validation error"
if I try to update my profile information, I get a console error "Enter a valid phone number to use this delivery method"

[2022-11-15 18:40] tbeck commented on #174
Marking as complete. Thank you both!

[2022-11-15 18:40] #174 closed

[2022-11-16 01:11] paulstroot commented on #119
Sorry. That was because I took the screenshot from the sample email that is displayed in Shopify. It's a little different than the actual email that gets sent because there is no shipping, and we have museum details in the real email. here is a screenshot of one of the emails that came in my inbox after a test order.

![image](https://user-images.githubusercontent.com/52838369/202058774-40c6bae9-1

[2022-11-16 01:47] paulstroot commented on #21
@ZiggyAtl Update made.

[2022-11-16 16:36] ZiggyAtl commented on #21
Hi @paulstroot everything is working correctly in terms of the auto messages and the changes to the museum set up, thanks. The only thing is that the links to the certificate which appear in the suggested messages don't work, and I got this message below. I'm also having problems accessing a DAB I have just bought so I'll let you know if thats just my user error or whether it might be a bug

![Scr

[2022-11-16 17:09] paulstroot commented on #21
I just noticed this one too. I'll get that taken care of today.

[2022-11-16 18:38] ZiggyAtl opened #179 "Error message unreadable"
@jonathanwburr  Any chance you could change the font please? For some reason it's not legible in that red background. Maybe needs to be a little bolder? Also it doesn't stay on the screen and disappears after a short while. By the time I looked at it and tried to work out what it was saying (I'm on a relatively small laptop screen) it had gone off the screen. Shouldn't it stay on screen until the

[2022-11-16 19:16] ZiggyAtl commented on #168
@jonathanwburr I noticed that the font had been changed on the certificate and its now spaced out much better thanks. In terms of the 'boldness' I'm REALLY sorry to be picky on this one, but with it being the certificate it's important. I just wanted the text making a bit bolder to look like it originally did e.g. the samples above. However it's now much bolder than it originally was, so much so t

[2022-11-16 19:54] ZiggyAtl opened #180 "Hyperlink landing on wrong part of page"
@paulstroot I added a new museum (The Atlanta Museum) and in The Reach I removed it from the previous museum and added it to the Atlanta Museum Collection. Then on the main site I clicked See Artworks, scrolled down to the Reach and clicked See Details. It took me to the bottom of the artwork page, not the top
![Screen Shot 2022-11-16 at 2 52 58 PM](https://user-images.githubusercontent.com/112654

[2022-11-16 21:28] paulstroot commented on #119
I can't see from your screenshot where the artist name is supposed to show up. It should be in the first bullet point, "You can now brag that you have a masterpiece by world renowned artist [ARTIST NAME] in your art collection."

Was it not there for you?

[2022-11-16 21:40] ZiggyAtl commented on #119
@paulstroot Just over the View your Certificate button. It says "That Illustrious Feeling by             "

[2022-11-18 17:25] paulstroot commented on #180
I haven't been able to recreate this yet but I'm going to look a little deeper this afternoon.

[2022-11-18 17:27] paulstroot commented on #119
Ah ha! Thanks. I overlooked that one. I'll take care of that this afternoon and mark as ready for review once it's fixed.

[2022-11-18 21:45] paulstroot commented on #179
Jon made the text bold in the message. I also added a static error message above the submit button that does not go away.
#183

[2022-11-18 21:49] paulstroot commented on #21
HI @ZiggyAtl . We've been working hard to track down an issue that was causing many of these issues with the certificates and social media images being generated and we believe we've worked it out today. I just pushed an update that should fix these things. I will be submitting some test orders today to test it out. Please feel free to test on your end as well to make sure it's working properly.

[2022-11-18 22:10] jonathanwburr commented on #56
@ZiggyAtl I've got this working except for a single instance (Our Mission page) I believe, which seems like an outlier, still trying to track down why that may be

[2022-11-18 22:36] paulstroot commented on #119
This should be working correctly now. I just submitted a test order and the artist name came through in the email receipt.

[2022-11-18 22:39] paulstroot commented on #180
Hi @ZiggyAtl , if you're able to recreate this, could you let us know if it's all the time, or under certain circumstances? Are you viewing in Safari on Mac?

[2022-11-29 02:23] ZiggyAtl commented on #21
@paulstroot I had thought this was fixed but when I try posting it through facebook (via Safari), the image doesn't appear on the post, see below
![Screen Shot 2022-11-28 at 9 22 49 PM](https://user-images.githubusercontent.com/112654923/204423246-56f4f7a3-9597-41d8-adca-0b42b14b7a42.png)

[2022-11-29 02:25] #119 closed

[2022-11-29 02:30] #179 closed

[2022-11-29 02:32] #180 closed

[2022-11-29 02:58] ZiggyAtl commented on #168
@jonathanwburr sorry but it's still not right. The original font was perfect (the one in the middle in the previous comment I made), but then it changed in to something too light (the one on the top), then something too heavy (the one on the bottom), and now its even lighter than the previous one which was too light. I'm just looking for a font which has the weight of the original certificate we h

[2022-11-29 15:56] paulstroot commented on #21
@ZiggyAtl , I'lll look into that today. I have a couple follow-up questions:

1. Are you able to find out exactly which piece of art and dab number you tried to share? I'll try it myself also to see if I can recreate the issue.

2. When you click the facebook share button, and the popup appeared where you can type in your custom message, did the correct title and description display? See my screen

[2022-11-29 21:39] jonathanwburr commented on #168
@ZiggyAtl can you try downloading this one? https://store.comission.art/dab/7273907388595-1147